<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>URL</key>
		<dict>
			<key>NHL</key>
			<dict>
				<key>TestURLs</key>
				<array>
					<string>http://nlds124.cdnak.neulion.com/nlds/nhl/rangers/as/live/rangers_hd_3000.m3u8</string>
					<string>http://nlds143.cdnak.neulion.com/nlds/nhl/bruins/as/live/bruins_hd_3000.m3u8</string>
				</array>
				<key>URLPatterns</key>
				<array>
					<string>^http://nlds.+.cdnak.neulion.com.+</string>
					<string>^http://boulder.zxq.net.+</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>